body {
	font-family: "Helvetica";
	-webkit-user-select: none;
    -webkit-text-size-adjust: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-image: url('../images/cork.bg.gif');
	background-size: 400px 400px;
	background-repeat: repeat;
	text-rendering: optimizeLegibility;
}

body, ul, li {
	padding: 0;
	margin: 0;
	border: 0;
}

ul {
	list-style-type: none;
	height: 100%;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	text-rendering: optimizeLegibility;
}

ul li a {
    background-color: #fff;
    border-bottom: 1px solid #636464;
    color: #222;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
	font-family: "Marker felt";
	text-overflow: ellipsis;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	text-rendering: optimizeLegibility;
}

ul li a:active, ul li a:hover {
    background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		from(#0075f6),
		to(#0043e4)
	);
	color: #f6f9ff;
}

ul li {
	border-bottom: 1px solid #636464;
}

a {
	color: #0066CC;
	text-rendering: optimizeLegibility;
}

section {
	overflow: hidden;
	text-rendering: optimizeLegibility;
}

/*
	Header
*/

header {
	width: 100%;
	height: 44px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	
	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		from(#999),
		color-stop(0.02, #666),
		to(#222)
	);
	font-family: Chunk, Helvetica;
	
	-webkit-box-sizing: border-box;
	
	text-align: center;
	color: #ffffff;
	padding-top: 10px;
	
	font-weight: bold;
	font-size: 1.5em;
	text-rendering: optimizeLegibility;
	
	-webkit-box-shadow: 0 1px 10px 1px #000;
}

.inner_text_shadow
{
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 1px;
	text-rendering: optimizeLegibility;
}

#backButton {
	position: absolute;
	z-index: 1001;
	top: 3px;
	left: 5px;
	height: 44px;
	width: 64px;
	text-align: center;
	background-image: url('../images/backButton.png');
	background-size: 64px 37px;
	background-repeat: no-repeat;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

#backButton p {
	padding-top: 11px;
	padding-left: 8px;
	font-size: 15px;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	text-rendering: optimizeLegibility;
}

#backButton:active, #backButton:hover {
    background-image: url('../images/backButton-pressed.png');
	background-size: 64px 37px;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

#addNote {
	position: absolute;
	z-index: 1001;
	top: 3px;
	right: 5px;
	height: 44px;
	width: 64px;
	text-align: center;
	background-image: url('../images/button.png');
	background-size: 64px 37px;
	background-repeat: no-repeat;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

#addNote p {
	padding-top: 11px;
	font-size: 15px;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	text-rendering: optimizeLegibility;
}

#saveNote {
	position: absolute;
	z-index: 1001;
	top: 3px;
	left: 5px;
	height: 44px;
	width: 64px;
	text-align: center;
	background-image: url('../images/button.png');
	background-size: 64px 37px;
	background-repeat: no-repeat;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

#saveNote p {
	padding-top: 11px;
	font-size: 15px;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	text-rendering: optimizeLegibility;
}

#addNote:active, #addNote:hover {
    background-image: url('../images/Button-pressed.png');
	background-size: 64px 37px;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

#cherryImg {
	position: absolute;
	top: 8px;
	max-height: 1.3em;
}

#Home {
	position: absolute;
	top: 44px;
	left: 0;
	width: 300px;
	height: 100%;
	background-color: #fff;
	opacity: 1;
	border-right: 1px solid #636464;
}

#Note {
	position: absolute;
	z-index: 9000;
	width: 100%;
	height: 100%;
	left: 300px;
	top: 54px;
}

#Note textarea {
	position: absolute;
	width: 90%;

	font-family: "Marker felt";
	font-size: 15px;
	color: #000;
	text-rendering: optimizeLegibility;

	border: 5px solid #fff953;
	-webkit-border-radius: 3px;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	background-image: url("../images/Notepad.png");
	background-size: 20px 20px;
	background-repeat: repeat;
	outline: none;
	line-height: 20px;
	-webkit-box-shadow: 1px 1px 3px 1px #000;
}

.noteInput::-webkit-input-placeholder {
	color: #000;
	text-rendering: optimizeLegibility;
}

.hidden {
	overflow: hidden;
	display: none;
}

.bottomMenu {
	position: absolute;
	bottom: 60px;
	max-height: 40px;
}

#trash {
	left: 25%;
}

#mail {
	right: 25%;
}

#share {
	display: none;
	left: 50%;
}

.listSpacer {
	height: 43px;
	border-bottom: none;
}