body {
	font-family: "Helvetica";
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-image: url('../images/backgroundStripes.png');
	background-repeat: repeat;
	text-rendering: optimizeLegibility;
}

body, ul, li {
	padding: 0;
	margin: 0;
	border: 0;
}

ul {
	list-style-type: none;
	height: 100%;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	text-rendering: optimizeLegibility;
}

ul li a {
	background-color: white;
	border-bottom: 1px solid #d8d8d8;
	color: #222;
	display: block;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: -1px;
	padding: 12px 10px;
	text-decoration: none;
	text-overflow: ellipsis;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	text-rendering: optimizeLegibility;
}

ul li a:active, ul li a:hover {
	background-image: url(../images/selectedRowiPhone.png);
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(38, 127, 239);
	-webkit-background-size: 100% 100%;
	background-position: initial initial;
	background-repeat: initial initial;
	color: white;
}

ul li {
	border-bottom: 1px solid #636464;
}

a {
	color: #0066CC;
	text-rendering: optimizeLegibility;
}

section {
	overflow: hidden;
	text-rendering: optimizeLegibility;
}

/*
	Header
*/

header {
	width: 100%;
	height: 44px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	
	background-image: url(../images/header.png);
	background-size: 44px 44px;
	background-repeat: repeat-x;
	font-family: Chunk, Helvetica;
	
	-webkit-box-sizing: border-box;
	
	text-align: center;
	color: #ffffff;
	padding-top: 10px;
	
	font-weight: bold;
	font-size: 16pt;
	text-rendering: optimizeLegibility;
	-webkit-user-select: none;
}

.inner_text_shadow
{
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 1px;
	text-rendering: optimizeLegibility;
}

#Home {
	position: absolute;
	top: 44px;
	left: 0;
	width: 100%;
	height: 367px;
}

#mapCanvas {
	z-index: 100;
}

#Settings {
	position: absolute;
	top: 44px;
	left: 0;
	width: 100%;
	height: 367px;
}

#Bookmarks {
	position: absolute;
	top: 44px;
	left: 0;
	width: 100%;
	height: 367px;
	background-color: white;
}

#aboutBox {
	margin: 10px;
	padding: 15px;
	
	background-color: white;
	
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border: 1px solid rgb(172, 172, 172);
	font-size: 17px;
}

#suggestBox {
	background-color: white;
	
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border: 1px solid rgb(76, 86, 108);
	font-size: 18px;
	line-height: 45px;
	margin: 10px;
}

#imgApp {
	max-height: 160px;
}

#devBy span {
	text-align: justify;
}

.apple-text {
	font-size: 16px;
	color: rgb(76, 86, 108);
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}

.hidden {
	overflow: hidden;
	display: none;
}

.chevron {
	position: absolute;
	width: 8px;
	height: 13px;
	right: 10px;
	top: 15px;
	background-image: url(../images/chevron.png);
	background-repeat: no-repeat no-repeat;
}

/* Radio Buttons */

#metricsSpacer {
	height: 11px;
}

#lblMetrics {
	margin-top: -2px;
	padding-left: 15px;
}

.horizontalRadio {
	height: 43px;
	width: 240px;
	margin-left: 15px;
	margin-top: 7px;
	
	background-color: white;
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border: 1px solid rgb(172, 172, 172);
}

#lblMiles {
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
}

#lblMeters {
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.cb-miles, .cb-kilometers, .cb-meters, .cb-miles span, .cb-kilometers span, .cb-meters span { 
	display: block;
	float: left;
}

.cb-miles span, .cb-kilometers span, .cb-meters span {
	line-height: 41px;
	display: block;
	background-repeat: no-repeat;
	font-weight: bold;
}

.cbMiddle {
	border-right: 1px solid rgb(172, 172, 172);
}

.cb-miles span {
	padding: 0 10px;
}

.cb-kilometers span {
	padding: 0 10px;
}

.cb-meters span {
	padding: 0 10px;
}

.lblSelected {
	background-image: url(../images/selectedRowiPhone.png);
	background-repeat: repeat-x;
	color: white;
}

.switch label {
	cursor: pointer;
}

.switch input {
	display: none;
}

.rightButton {
	position: absolute;
	top: 7px;
	right: 6px;
	height: 30px;
	font-weight: bold;
	text-align: center;
	color: white;
	line-height: 28px;
	border-width: 0 8px 0 8px;
}